@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {

    font-family: "Coconat-Regular";
    src: url("../public/fonts/coconat/Coconat-Regular.otf");

    font-family: "Coconat-Bold";
    src: url("../public/fonts/coconat/Coconat-BoldExt.otf");

    font-family: "Gotham";
    src: url("../public/fonts/gotham/Gotham-Medium-Regular.ttf");

}